[Desktop Entry]
Name=Bremin
Comment=Breathing and mindfulness exercises
Exec=io.github.lainsce.Bremin %U
Icon=io.github.lainsce.Bremin
Terminal=false
Type=Application
Categories=Education;Health;
Keywords=breathing;mindfulness;relaxation;meditation;
StartupNotify=true
