[Desktop Entry]
Name=Bremin
Comment=A breathing mindfulness app
Exec=io.github.lainsce.Bremin %U
Icon=io.github.lainsce.Bremin
Terminal=false
Type=Application
Categories=Utility;
