@define-color window_bg_color #e3e0ff;
@define-color surface_container_high_bg_color #d9d7ff;
@define-color surface_container_highest_bg_color #d9d7ff;

.sidebared {
    background: shade(@window_bg_color, 1.024);
}

.daily-sentence-box {
    box-shadow: inset 0 0 10px 10px alpha(@success_bg_color, 0.14);
    padding: 50px;
    background: @success_container_bg_color;
    color: @success_color;
    font-size: 1.33rem;
}
.session-button {
    background: none;
}
.session-button label {
    font-weight: 400;
    font-size: 1.33rem;
}
.session-button:disabled {
    background: none;
}
.metric-star {
    background: alpha(@view_bg_color, 0.9);
    border-radius: 50px;
    box-shadow: 0 4px 20px alpha(@shadow, 0.1);
}
.metric-value {
    font-size: 28px;
    font-weight: bold;
    color: @accent_color;
}
.metric-label {
    font-size: 14px;
    font-weight: 500;
    color: @view_fg_color;
}

.month-label {
    color: @success_bg_color;
}
